@tailwind base;
@tailwind components;
@tailwind utilities;
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@layer utilities {
  .animate-fade-in {
    animation: fadeIn 0.8s ease-in;
  }
}